/* === Site Content Visibility === */
@keyframes fadeInMainContent {
  to {
    opacity: 1;
  }
}

/* === Fade Animations === */
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* === Splash Screen === */
@keyframes fadeSplashScreen {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* === Splash Logo Letters === */
@keyframes rotateLetterC {
  to {
    transform: scaleX(-1); /*effet mirroire*/
  }
}

/* === Splash Squares === */
@keyframes rotateSquare2 {
  to {
    transform: rotate(-37deg);
  }
}

@keyframes rotateSquare3 {
  to {
    transform: rotate(-29deg);
  }
}
